html,
body {
  font-family: 'Fira Code', 'Source Code Pro', monospace;
  margin: 0;
  background: #f4f4f9;
  color: #333;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.titlebar {
  background: #333;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px #0002;
  position: relative;
  z-index: 20;
  height: 2em;
}

.titlebar .header-actions {
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.titlebar .header-actions button {
  background: #444;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5em 1.2em;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0;
  box-shadow: 0 1px 3px #0001;
  font-size: 0.8em;
}

.titlebar .header-actions button:hover {
  background: #666;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 2em;
  color: #888;
  font-size: 1em;
  padding: 1.5em 0 1em 0;
}


@media (max-width: 700px) {
  .titlebar {
    padding: 0.4em 0.6em;
    /* font-size: 2em; */
    min-height: 2.2em;
    height: auto;
  }

  .titlebar .header-actions {
    gap: 0.3em;
    flex-wrap: wrap;
  }

  .titlebar .header-actions button {
    padding: 0.3em 0.7em;
    border-radius: 4px;
    min-width: 0;
    line-height: 1.2;
    height: 2em;
  }
}