html, body {
  font-family: 'Fira Code', 'Source Code Pro', monospace;
  margin: 0;
  background: #f4f4f9;
  color: #333;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.titlebar {
  background: #333;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px #0002;
  position: relative;
  z-index: 20;
  height: 5vh;
}

.titlebar .header-actions {
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.titlebar .header-actions button {
  background: #444;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5em 1.2em;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0;
  box-shadow: 0 1px 3px #0001;
  font-size: 0.8em;
}

.titlebar .header-actions button:hover {
  background: #666;
}